page-login {
    // .scroll-content {
    //     padding-bottom: 0px !important
    // }
    .bg-login {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        background-size: cover;
        background-position: center;
    }
    .bg-register {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        background-size: cover;
        background-position: center;
    }
    .bg-teste {
        background: linear-gradient(45deg, #84fab0, #96e6a1, #8fd3f4, #020202);
        background-size: 800% 800%;

        -webkit-animation: AnimationName 15s ease infinite;
        -moz-animation: AnimationName 15s ease infinite;
        animation: AnimationName 15s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }
    }
    .overlay {
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.901), rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.716))
    }
    .logo-white-login {
        width: 30%
    }
    .bg-transparent {
        background: transparent
    }
    .ctaLogin {
        padding: 10px;
        background: $snow;
        border-radius: 100px;
        color: #8fd3f4
    }
    .ctaRegister {
        padding: 10px;
        background: $snow;
        border-radius: 100px;
        color: #8fd3f4
    }
    .txtRegistrar {
        color: $snow;
    }
    .txtIrDireto {
        color: $snow;
    }
}
